<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Employers portal,</h1>
    <p>
      Hi <%= @employer.name %>,<br>
      your token is: <b><%= @employer.email_token %></b>.<br>
    </p>
  </body>
</html>
